<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge; chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link rel="stylesheet" href="../css/styles.css"
          th:href="@{/css/styles.css}"
          type="text/css"/>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-light bg-light">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="/">Flower</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-outline-secondary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>

    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">My Profile</a></li>
                <li><a class="dropdown-item" href="#!">Settings</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
            <div class="sb-sidenav-menu scrollbar-night-fade" data-mdb-perfect-scrollbar="true">
                <div class="nav">
                    <!-- 대시보드 (요약) -->
                    <div class="sb-sidenav-menu-heading">Dashboard</div>
                    <a class="nav-link" href="/adminpage">
                        <div class="sb-nav-link-icon"><i class="fas fa-bars" style="color: mediumpurple"></i></div>
                        Dashboard
                    </a>

                    <!-- 사업자 관리 -->
                    <div class="sb-sidenav-menu-heading">Admin</div>
                    <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#collapseManagement" aria-expanded="false" aria-controls="collapseManagement">
                        <div class="sb-nav-link-icon"><i class="fas fa-house-user" style="color: mediumpurple"></i></div>
                        Admin
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseManagement" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <!-- 사업자 등록 -->
                            <a class="nav-link" href="/admin/registerbusiness">Business Registration</a>
                            <!-- 등록된 가게 목록 -->
                            <a class="nav-link" href="/admin/businesses">Business Details</a>
                        </nav>
                    </div>

                    <!-- 쇼핑 -->
                    <div class="sb-sidenav-menu-heading">Shop</div>
                    <!-- 가게별 꽃 관리-->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseStore" aria-expanded="false" aria-controls="collapseStore">
                        <div class="sb-nav-link-icon"><i class="fas fa-shop" style="color: mediumpurple"></i></div>
                        Flower Manage
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div th:each="b : ${businessList}">
                        <div class="collapse" id="collapseStore" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionStore">
                                <a class="nav-link collapsed" href="#" th:text="${b.businessName}"
                                   th:href="@{/admin/businesses/{businessId}(businessId=${b.id})}">
                                    Business Name
                                </a>
                            </nav>
                        </div>
                    </div>

                    <!-- 가계별 주문 내역 -->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCoins" aria-expanded="false" aria-controls="collapseCoins">
                        <div class="sb-nav-link-icon"><i class="fas fa-coins" style="color: mediumpurple"></i></div>
                        Order
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div th:each="b : ${businessList}">
                        <div class="collapse" id="collapseCoins" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionOrder">
                                <a class="nav-link collapsed" th:text="${b.businessName}"
                                   th:href="@{/admin/order}">
                                    Business Name
                                </a>
                            </nav>
                        </div>
                    </div>

                    <!-- 차트 -->
                    <div class="sb-sidenav-menu-heading">Chart</div>
                    <!-- 가게별 꽃 관리-->
                    <a class="nav-link collapsed" href="#">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-bar" style="color: mediumpurple"></i></div>
                        Populars Items
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Copyright: HW & DM</div>
                Flower Shop
            </div>
        </nav>
    </div>

    <!-- body 부분 공통 부분 -->
    <!-- 사이드 바 끝  -->

    <!-- 등록된 부케 목록 -->
    <div id = "layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div class="col-sm-12 pt-5">
                    <div class="card col-md-12 mx-auto">
                        <div class="card-header">
                            <h4 class="card-title">
                                <i class="fa-solid fa-check"></i>
                                등록된 부케 목록
                            </h4>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>부케 이름</th>
                                    <th>상세</th>
                                    <th>색</th>
                                    <th>재고</th>
                                    <th>가격</th>
                                    <th>수정</th>
                                    <th>삭제</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr style="line-height: 32px;" th:each="list : ${bouquetList}">
                                    <td th:text="${list.name}"></td>
                                    <td th:text="${list.bouquetDetail}"></td>
                                    <td th:text="${list.color}"></td>
                                    <td th:text="${list.stock}"></td>
                                    <td th:text="${list.price}"></td>
                                    <td> <button onclick="location.href='business.html'"
                                                 th:onclick="|location.href='@{/admin/businesses/{businessId}/bouquet/{bouquetId}/edit(businessId=${business.id}, bouquetId=${list.id})}'|"
                                                 type="button" class="btn btn-success">수정</button> </td>
                                    <td> <button onclick="location.href='business.html'"
                                                 th:onclick="|location.href='@{/admin/businesses/{businessId}/bouquet/{bouquetId}/delete(businessId=${business.id}, bouquetId=${list.id})}'|"
                                                 type="button"class="btn btn-danger">삭제</button> </td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- 부케 등록하기 -->
                            <div class="text-center mt-3 mb-3">
                                <a class="btn btn-info"
                                   href="bouquet.html" th:href="@{/admin/businesses/{businessId}/bouquet(businessId=${business.id})}">
                                    꽃(부케) 등록하기
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 등록된 부케 목록 끝-->

            <!-- 등록된 단품 목록 -->
            <div class="container-fluid">
                <div class="col-sm-12 pt-5">
                    <div class="card col-md-12 mx-auto">
                        <div class="card-header">
                            <h4 class="card-title">
                                <i class="fa-solid fa-check"></i>
                                등록된 단품 목록
                            </h4>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>단품 이름</th>
                                    <th>상세</th>
                                    <th>색</th>
                                    <th>재고</th>
                                    <th>가격</th>
                                    <th>수정</th>
                                    <th>삭제</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr style="line-height: 32px;" th:each="single : ${singleList}">
                                    <td th:text="${single.name}"></td>
                                    <td th:text="${single.flowerLang}"></td>
                                    <td th:text="${single.color}"></td>
                                    <td th:text="${single.stock}"></td>
                                    <td th:text="${single.price}"></td>
                                    <td> <button onclick="location.href='business.html'"
                                                 th:onclick="|location.href='@{/admin/businesses/{businessId}/single/{singleId}(businessId=${business.id}, singleId=${single.id})}/edit'|"
                                                 type="button" class="btn btn-success">수정</button> </td>
                                    <td> <button onclick="location.href='business.html'"
                                                 th:onclick="|location.href='@{/admin/businesses/{businessId}/single/{singleId}(businessId=${business.id}, singleId=${single.id})}/delete'|"
                                                 type="button" class="btn btn-danger">삭제</button> </td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- 단품 등록하기 -->
                            <div class="text-center mt-3 mb-3">
                                <a class="btn btn-info"
                                   href="single.html" th:href="@{/admin/businesses/{businessId}/single(businessId=${business.id})}">
                                    꽃(단품) 등록하기
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 등록된 단품 목록 끝-->
        </main>

        <!-- footer -->
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Flower Shop 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="../js/scripts.js" th:src="@{/js/scripts.js}"></script>

</body>
</html>