<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li> 장바구니 목록
    <table>
        <tr>
            <th>아이템 이름</th>
            <th>가격</th>
            <th>수량</th>
        </tr>

        <tr th:each="item: ${cartItems}">
            <td th:text="${item.itemName}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.count}"></td>
            <td>
                <button th:onclick="|location.href='@{/member/cart/{cartItemId}(cartItemId=${item.id})}'|">
                    삭제
                </button>
            </td>
        </tr>

    </table>
</li>
</body>
</html>