<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge; chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Admin Page</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-light bg-light">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="/">Flower</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-outline-secondary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>

    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">My Profile</a></li>
                <li><a class="dropdown-item" href="#!">Settings</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>

<!-- 사이드바 시작 -->

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
            <div class="sb-sidenav-menu scrollbar-night-fade" data-mdb-perfect-scrollbar="true">
                <div class="nav">
                    <!-- 대시보드 (요약) -->
                    <div class="sb-sidenav-menu-heading">Dashboard</div>
                    <a class="nav-link" href="/adminpage">
                        <div class="sb-nav-link-icon"><i class="fas fa-bars" style="color: mediumpurple"></i></div>
                        Dashboard
                    </a>

                    <!-- 사업자 관리 -->
                    <div class="sb-sidenav-menu-heading">Admin</div>
                    <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#collapseManagement" aria-expanded="false" aria-controls="collapseManagement">
                        <div class="sb-nav-link-icon"><i class="fas fa-house-user" style="color: mediumpurple"></i></div>
                        Admin
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseManagement" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <!-- 사업자 등록 -->
                            <a class="nav-link" href="/admin/registerbusiness">Business Registration</a>
                            <!-- 등록된 가게 목록 -->
                            <a class="nav-link" href="/admin/businesses">Business Details</a>
                        </nav>
                    </div>

                    <!-- 쇼핑 -->
                    <div class="sb-sidenav-menu-heading">Shop</div>
                    <!-- 가게별 꽃 관리-->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseStore" aria-expanded="false" aria-controls="collapseStore">
                        <div class="sb-nav-link-icon"><i class="fas fa-shop" style="color: mediumpurple"></i></div>
                        Flower Manage
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div th:each="business : ${businessList}">
                        <div class="collapse" id="collapseStore" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionStore">
                                <a class="nav-link collapsed" href="#" th:text="${business.businessName}"
                                   th:href="@{/admin/businesses/{businessId}(businessId=${business.id})}">
                                    Business Name
                                </a>
                            </nav>
                        </div>
                    </div>

                    <!-- 가계별 주문 내역 -->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCoins" aria-expanded="false" aria-controls="collapseCoins">
                        <div class="sb-nav-link-icon"><i class="fas fa-coins" style="color: mediumpurple"></i></div>
                        Order
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div th:each="business : ${businessList}">
                        <div class="collapse" id="collapseCoins" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionOrder">
                                <a class="nav-link collapsed" th:text="${business.businessName}"
                                        th:href="@{/admin/order/{businessId} (businessId=${business.id})}">
                                    Business Name
                                </a>
                            </nav>
                        </div>
                    </div>

                    <!-- 차트 -->
                    <div class="sb-sidenav-menu-heading">Chart</div>
                    <!-- 가게별 꽃 관리-->
                    <a class="nav-link collapsed" href="#">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-bar" style="color: mediumpurple"></i></div>
                        Populars Items
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Copyright: HW & DM</div>
                Flower Shop
            </div>
        </nav>
    </div>

    <!-- body 부분 공통 부분 -->
    <!-- 사이드 바 끝  -->

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Admin Page</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">하단 정리중</li>
                </ol>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">가게 이름</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-black stretched-link" href="#">가게 관리하기</a>
                                <div class="small text-black"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                Area Chart Example
                            </div>
                            <div class="card-body"><canvas id="line-chart" width="100%" height="40"></canvas></div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-bar me-1"></i>
                                Bar Chart Example
                            </div>
                            <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        DataTable Example
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                            </tr>
                            <tr>
                                <td>Bradley Greer</td>
                                <td>Software Engineer</td>
                                <td>London</td>
                                <td>41</td>
                                <td>2012/10/13</td>
                                <td>$132,000</td>
                            </tr>
                            <tr>
                                <td>Dai Rios</td>
                                <td>Personnel Lead</td>
                                <td>Edinburgh</td>
                                <td>35</td>
                                <td>2012/09/26</td>
                                <td>$217,500</td>
                            </tr>
                            <tr>
                                <td>Jenette Caldwell</td>
                                <td>Development Lead</td>
                                <td>New York</td>
                                <td>30</td>
                                <td>2011/09/03</td>
                                <td>$345,000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>

        <!-- footer -->
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Flower Shop 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script th:inline="javascript">
    var colorList = ["#ff6666", "#ff8c66", "#ffb366", "#ffd966", "#ffff66", "#d9ff66",
    "#b3ff66", "#8cff66", "#66ff66", "#66ff8c", "#66ffb3",
    "#66ffd9", "#66ffff", "#66d9ff", "#66b3ff", "#668cff",
    "#6666ff", "#8c66ff", "#b366ff", "#d966ff", "#ff66ff",
    "#ff66d9", "#ff66b3", "#ff668c", "#ff6666"];

    var datasetsList = [];

    var profitMap = [[${profitMap}]];
    /*[# th:each="p : ${profitMap}"]*/

        var business = "[(${p.key.businessName})]";

        var profitList = /*[[${p.value}]]*/;
        var profitSet = [];
        for (let i = 0; i < profitList.length; i++) {
            profitSet.push(profitList[i].second);
            console.log(profitList[i]);
        }

        var set = {data: profitSet, label: business, borderColor: colorList[Math.floor(Math.random() * colorList.length)], fill: false};
        datasetsList.push(set);

    /*[/]*/


    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: [1,2,3,4,5,6,7],
            datasets: datasetsList
        },
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: true,
                    text: '일주일 수익 분포'
                },
            },
            interaction: {
                intersect: false,
            },
            scales: {
                x: {
                    display: true,
                    title: {
                        display: true
                    }
                },
                y: {
                    display: true,
                    title: {
                        display: true,
                        text: 'Value'
                    },
                    suggestedMin: 0,
                    suggestedMax: 50000
                }
            }
        },
    })

</script>

<script src="assets/chart-area-demo.js"></script>
<script src="assets/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>

</body>
</html>