<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Bare - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>

<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<form action="/member/edit" method="get">
    <div class="container">
        <div class="col-sm-12 pt-5">
            <div class="card col-md-12 mx-auto">
                <div class="card-header">
                    <h4 class="card-title">
                        <i class="fas fa-square"></i>
                        마이페이지
                    </h4>
                </div>

                <form class="card-body" th:object="${member}">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr style="line-height: 32px;">
                                <td>이름</td>
                                <td>
                                    <input type="text" class="form-control"
                                           id="name" th:field="*{name}"
                                           value="사용자" th:value="*{name}" readonly>
                                </td>
                            </tr>
                            <tr style="line-height: 32px;">
                                <td>성별</td>
                                <td>
                                    <select class="custom-select d-block w-100" id="sex" th:field="*{sex}" disabled>
                                        <option selected disabled value="">성별</option>
                                        <option th:value="'M'">남</option>
                                        <option th:value="'F'">여</option>
                                    </select>
                                </td>
                            </tr>
                            <tr style="line-height: 32px;">
                                <td>나이</td>
                                <td>
                                    <input type="text" class="form-control"
                                           id="age" th:field="*{age}"
                                           value="100" th:value="*{age}" readonly>
                                </td>
                            </tr>
                            <tr style="line-height: 32px;">
                                <td>이메일</td>
                                <td>
                                    <input type="email" class="form-control"
                                           id="email" th:field="*{email}"
                                           value="you@example.com" th:value="*{email}" readonly>
                                </td>
                            </tr>
                            <tr style="line-height: 32px;">
                                <td>비밀번호</td>
                                <td>
                                    <input type="password" class="form-control"
                                           id="password" th:field="*{password}"
                                           value="1234" th:value="*{password}" readonly>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center mt-3 mb-3">
                        <button class="btn btn-success" type="submit" >비밀번호 변경하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</form>

<div class="container">
    <div class="col-sm-12 pt-5">
        <!-- 즐겨찾기 목록 -->
        <div class="card">
            <div class="card-header">
                <h4>즐겨찾기 목록</h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody th:each="store: ${storeList}">
                    <tr th:text="${store.business.businessName}">즐겨찾기 목록1</tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<footer class="my-3 text-center text-small">
    <p class="mb-1">&copy; 2021 YD</p>
</footer>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
